<!doctype html>
<html dir="rtl">
	<head>
		<meta charset="UTF-8">
		<title>Israblog Migrate</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}" >
    <script type="application/javascript" src="{{ url_for('static',filename='app.js') }}" defer></script>
	</head>

	<body>
		<h1 id="mainTitle">המרת גיבוי ישראבלוג לוורדפרס</h1>
		<div id="appBody">
        <div>
          לחצו כאן כדי להוריד את הקובץ שלכם!
        </div>
        <div>
          שימו לב: מרגע שתלחצו על לינק ההורדה, יהיו לכם עשר דקות להוריד את הקובץ. אחרי עשר דקות, הקובץ וכל הקבצים שהעליתם יימחקו.
        </div>
        <div>
          <a href="{{ url_for('download_file', backup_dir=backup_dir) }}" download id="downloadLink">Download</a>
        </div>
		</div>
	</body>
</html>
