<!doctype html>
<html dir="rtl">
	<head>
		<meta charset="UTF-8">
		<title>Israblog Migrate</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}" >
	</head>

	<body>
		<h1 id="mainTitle">המרת גיבוי ישראבלוג לוורדפרס</h1>
		<div id="appBody">
			<!-- Upload backup form -->
      <form method="post">
        <div>
          <label for="fileUpload">בחרו קובץ ZIP להעלות.</label>
          <input type="file" id="fileUpload" name="fileUpload">
        </div>
        <div>
          <input type="submit" value="Upload">
        </div>
      </form>
		</div>
	</body>
</html>
