<!doctype html>
<html dir="rtl">
	<head>
		<meta charset="UTF-8">
		<title>Israblog Migrate</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}" >
	</head>

	<body>
		<h1 id="mainTitle">המרת גיבוי ישראבלוג לוורדפרס</h1>
		<div id="appBody">
      <div>
        <h2>הנחיות:</h2>
        <ol>
          <li>צרו גיבוי חדש בישראבלוג (תחת הגדרות > גיבוי). בחרו בסוג גיבוי HTML.</li>
          <li>שמרו את הגיבוי בתור Web Page, complete.</li>
          <li>ארזו את הגיבוי (קובץ הHTML) ואת תיקיית הקבצים שלו (התיקייה שמתחילה בשם שנתתם לקובץ הגיבוי ונגמרת בסיומת files_) בארכיון ZIP.</li>
          <li>העלו את ארכיון הZIP למטה.</li>
          <li>לחצו על הכפתור והורידו את קובץ הXML המסודר בעמוד הבא!</li>
        </ol>
      </div>
			<!-- Upload backup form -->
      <h2>העלאה:</h2>
      <form method="post" enctype="multipart/form-data">
        <div>
          <label for="fileUpload">בחרו קובץ ZIP להעלות.</label>
          <input type="file" id="fileUpload" name="fileUpload">
        </div>
        <div>
          <input type="submit" value="Upload">
        </div>
      </form>
		</div>
	</body>
</html>
